* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.h-h {
	height: 100px;
	align-items: center;
	justify-content: space-around;	
}

.f-s {
	justify-content: space-around;
}

.menu {
	display: inline-block;	
	text-decoration: none;
	color: white;
	font-family: "Lato";
	font-weight: bold;
	align-items: center;
}

.list {
	list-style: none;
	display: inline-block;
	height: 50px;	
}