* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Montserrat";
}

.container {
	width: 100%;
	margin: 0px auto;
}

#nav-header{
	width: 100%;
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
}

.h-h {
	height: 100px;
	align-items: center;
	display: flex;
}

.f-s {
	background-color: #2C3E50;
}

.h-scroll {
	height: 80px;
	align-items: center;
	display: flex;
	position: fixed;	
}	


.f-size {
	font-size: 45px;
	font-family: "Montserrat", helvetica;
	font-weight: 700;
	margin: 10px 0;
}

.title-left {
	font-size: 25px;
	display: flex;
	justify-content: flex-start;
}

.title-right {
	display: flex;
	justify-content: flex-end;
}

.menu {
	text-decoration: none;
	color: white;
	font-weight: 900;
	align-items: center;
	/*justify-content: space-around;*/
}

.list {
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	align-items: center;
}

.list a {
	font-weight: 700;
	font-size: 15px;
}

.hand-sh {
	letter-spacing: 1px;
}

.hand-sh:hover {
	color: #18BC9C;
}

.information {
	box-sizing: border-box;
	height: 600px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title-information {
	font-size: 70px;
	font-weight: 700;
	margin: 10px 0;
}

.line-star {
	box-sizing: border-box;
	margin: 10px 0;
	/*justify-content: center;
	height: 50px;
	width: 100%;*/
}

.h-information {
	height: 900px;
}

.line-information {
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	margin: 25px auto 30px auto;
	max-width: 250px;
	line-height: 1.42857143;
}

.star {
	margin: 10px 0;
}

.font-description {
	font-size: 1.55em;
	font-weight: 300;
	font-family: "Lato",helvetica;
}

.p-s {
	padding: 80px 0;
}

.images {
	width: 1200px;
	height: 1400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
}

#close {
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 200px;
	font-weight: 100;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.p-m {
	margin: 30px 0;
	font-family: "Lato";
	line-height: 1.42857143;
	text-align: justify;
	font-size: 1.2em;
	width: 700px;
	word-spacing: 4.1px;
}

.link-modal {
	text-decoration: none;
	color: #18BC9C;
}

.link-modal:hover {
	cursor: pointer;
	text-decoration: underline;
}

.modal-body {
	box-sizing: border-box;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.modal-button {
	padding: 8px 12px;
	background-color: white;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 3px;
	margin-top: 30px;
}

.x-button {
	font-weight: 700;
	margin-right: 5px;
}

.modal-button:hover {
	background-color: rgb(233, 233, 233);
	cursor:pointer;
}

.bg-about {
	background-color: #18BC9C;
	height: 500px;
}

.about-information {
	width: 60%;
	display: flex;
	flex-direction: row;
}

.about-information p {
	font-family: "Lato";
	font-size: 1.2em;
	width: 49%;
	height: 150px;
	/*display: inline-block;*/
	color: white;
	word-spacing: 4.1px;
	line-height: 25px;
}

.icon-download{
	display: block;
	padding: 12px;
	background-color: #18BC9C;
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 30px;
	color: white;
	font-size: 18px;
	font-family: "Lato";
	text-decoration: none;
	color: white;
	background-color: #18BC9C;
	font-size: 18px;	
}

.icon-download:hover{
	background-color: white;
	color: #18BC9C;
}



.d-button {
	color: white;
	margin-right: 10px;
}

.input-form, textarea {
	border: none;
    border-top: 1px solid #EEEEEE;
    width: 700px;
    height: 70px;
    display: block;
}

input[placeholder], textarea[placeholder]{
	color: #ACA29C;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 20px;
	font-family: "Lato", helvetica;
	cursor: auto;
}

textarea {	
	border-bottom: 1px solid #EEEEEE;
}

textarea[placeholder] {
	padding-top: 10px;
}

.form-button {
	background-color: #18BC9C;
	color: white;
	padding: 10px 20px;
	border: 2px solid white;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 18px;
	font-family: "Lato", helvetica;
	font-weight: 700;
}

.form-button:hover {
	cursor: pointer;
	background-color: #128F76;
	color: white;
}


input:focus, textarea:focus{
    outline: none;
}

.nule {
	color: #73739E;
	font-size: 20px;
	font-family: "Lato", helvetica;
	display: none;
	list-style: square;
}

footer{
	height: 340px;
}

.fo-p-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2C3E50;
}

.fo-p{
	box-sizing: border-box;
	padding: 30px 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: white;
	background-color: #2C3E50;
	font-family: "Montserrat", "Lato", helvetica;
	height: 270px;
}

.fo-c{
	box-sizing: border-box;
	padding: 30px 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: "Lato", helvetica;
	font-size: 14px;
	background-color: #233140;	
	height: 70px;
	line-height: 1.42857143;
}

.fo-c span {
	margin: 0 4px;
}

.div-f {
	width: 30%;
	height: 200px;
}

.title-footer {
	font-size: 25px;
	padding: 20px;
	font-weight: 700;	
}

.title-footer p, .title-footer a {
	font-weight: 400;
	line-height: 1.42857143;	
}

.icon-footer{
	text-decoration: none;
	color: white;
	background-color: #2C3E50;
	font-size: 50px;
	margin: 0 5%;
}

.m-t {
	margin-top: 10px;
}